<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.CadenaConexion_DB_BasePruebas"
            connectionString="Data Source=LAPTOP-SE83QNLK\SQLEXPRESS;Initial Catalog=DB_BasePruebas;Integrated Security=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>